<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice System</title>
</head>
<body>
<form action="#" th:action="@{/clients}" method="post">
  <label>Name:</label>
  <input type="text" placeholder="Enter your Name" th:field="*{clientName}"><br>
  <label>Username:</label>
  <input type="text" placeholder="Enter your Username" th:field="*{clientUsername}"><br>
  <label>Password:</label>
  <input type="password" th:field="*{clientPassword}"><br>
  <label>Address:</label>
  <input type="text" placeholder="Enter your Address" th:field="*{clientAddress}"><br>
  <label>Mobile Number:</label>
  <input type="text" placeholder="Enter your Mobile Number" th:field="*{clientMobileNumber}"><br>
  <label>Email:</label>
  <input type="text" placeholder="Enter your Email" th:field="*{clientEmail}"><br>
  <label>Loan Account Number:</label>
  <input type="text" placeholder="Enter your Loan Account Number" th:field="*{clientLoanAccountNumber}"><br>
  <label>Loan Information:</label>
  <input type="text" placeholder="Enter your Loan Information" th:field="*{clientLoanInformation}"><br>
  <button type="submit">Register</button>
</form>
</body>
</html>