<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice System</title>
</head>
<body>
<form action="#" th:action="@{invoices}" method="post">
    <label>Supplier Code:</label>
    <input type="text" placeholder="Enter the Supplier Code" th:field="*{supplierId}"><br>
    <label>Invoice Date:</label>
    <input type="date" th:field="*{invoiceDate}"><br>
    <label>Invoice Amount:</label>
    <input type="number" th:field="*{invoiceAmount}"><br>
    <label>Currency:</label>
    <input type="text" placeholder="Enter the Currency" th:field="*{currency}" id="currency" onchange="currencyValidate()"><br>
    <label>Invoice File:</label>
    <input type="file" th:field="*{invoiceFile}" id="file" onchange="fileValidate()"><br>
    <button type="submit">Upload</button>
</form>

<script>
    function currencyValidate()
    {
        var currency = document.getElementById("currency").value;

        if(!(currency === "USD" || currency === "GBP" || currency === "Euro"))
        {
            alert("Please enter either USD or GBP or Euro");
            document.getElementById("currency").value = "";
        }
    }

    function fileValidate()
    {
        var inputFile = document.getElementById("file");

        if (inputFile.files.length > 0)
        {
            for (const i = 0; i <= inputFile.files.length - 1; i++)
            {
                const fileSize = inputFile.files.item(i).size;
                const file = Math.round((fileSize / 1024));
                if (file >= 1024)
                {
                    alert("File too Big, please select a file less than 1MB");
                    document.getElementById("file").value = null;
                }
            }
        }
    }
</script>

</body>
</html>